<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Admin Dashboard</title>
		<link rel="stylesheet" href="../../assets/css/style_admin.css" />
	</head>
	<body>
		<main class="prototype-page">
			<section class="prototype-frame" aria-label="Admin dashboard screen">
				<img
					class="prototype-image"
					src="../../assets/images/Admin-Dashboard.png"
					alt="Admin dashboard"
				/>

				<!-- Left menu hotspots (links will be added later) -->
				<a
					class="hotspot"
					href="javascript:void(0)"
					aria-label="Admin dashboard"
					style="left: 17px; top: 180px; width: 210px; height: 39px;"
				></a>
				<a
					class="hotspot"
					href="javascript:void(0)"
					aria-label="Parking monitoring"
					style="left: 17px; top: 230px; width: 210px; height: 39px;"
				></a>
				<a
					class="hotspot"
					href="./uc5_qltb_all.html"
					aria-label="Device management"
					style="left: 17px; top: 280px; width: 210px; height: 39px;"
				></a>
				<a
					class="hotspot"
					href="javascript:void(0)"
					aria-label="System logs"
					style="left: 17px; top: 330px; width: 210px; height: 39px;"
				></a>
			</section>
		</main>
	</body>
</html>
