<!-- <!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - Parking Monitoring</title>
    <link rel="stylesheet" href="../../assets/css/style_admin.css" />
</head>
<body>
    <main class="prototype-page">
        <section class="prototype-frame" aria-label="Parking monitoring screen">
            <img class="prototype-image" src="../../assets/images/uc06_Map-Active.png" alt="Parking Map" />

            <a class="hotspot" href="dashboard.html" style="left: 17px; top: 180px; width: 210px; height: 39px;"></a>
            <a class="hotspot" href="uc06_admin_map.html" style="left: 17px; top: 230px; width: 210px; height: 39px;"></a>
            <a class="hotspot" href="uc5_qltb_all.html" style="left: 17px; top: 280px; width: 210px; height: 39px;"></a>
            <a class="hotspot" href="uc10_system_logs.html" style="left: 17px; top: 330px; width: 210px; height: 39px;"></a>

            <a class="hotspot" href="javascript:void(0)" style="left: 17px; top: 769px; width: 210px; height: 36px;"></a>
            <a class="hotspot" href="../common/uc01_login_mobile.html" style="left: 17px; top: 819px; width: 210px; height: 36px;"></a>
        </section>
    </main>
</body>
</html> -->

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - Parking Monitoring</title>
    <link rel="stylesheet" href="../../assets/css/style_admin.css" />
</head>
<body>
    <main class="prototype-page">
        <section class="prototype-frame" aria-label="Parking monitoring screen">
            
            <a href="dashboard.html">
                <img class="prototype-image" src="../../assets/images/uc06_Map-Active.png" alt="Parking Map" />
            </a>

            <a class="hotspot" href="dashboard.html" style="left: 17px; top: 170px; width: 210px; height: 39px;"></a>
            <a class="hotspot" href="uc06_admin_map.html" style="left: 17px; top: 220px; width: 210px; height: 39px;"></a>
            <a class="hotspot" href="uc5_qltb_all.html" style="left: 17px; top: 270px; width: 210px; height: 39px;"></a>
            <a class="hotspot" href="uc10_system_logs.html" style="left: 17px; top: 320px; width: 210px; height: 39px;"></a>

            <a class="hotspot" href="javascript:void(0)" style="left: 17px; top: 769px; width: 210px; height: 36px;"></a>
            <a class="hotspot" href="../common/uc01_login_mobile.html" style="left: 17px; top: 819px; width: 210px; height: 36px;"></a>
            
        </section>
    </main>
</body>
</html>