<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Device Management - Sensors</title>
		<link rel="stylesheet" href="../../assets/css/style_admin.css" />
	</head>
	<body>
		<main class="prototype-page">
			<section class="prototype-frame" aria-label="Device management sensors screen">
				<img
					class="prototype-image"
					src="../../assets/images/device_management_sensors.png"
					alt="Device management sensors"
				/>

				<!-- Left menu hotspots (links will be added later) -->
				<a
					class="hotspot"
					href="dashboard.html"
					aria-label="Admin dashboard"
					style="left: 17px; top: 180px; width: 210px; height: 39px;"
				></a>
				<a
					class="hotspot"
					href="javascript:void(0)"
					aria-label="Parking monitoring"
					style="left: 17px; top: 230px; width: 210px; height: 39px;"
				></a>
				<a
					class="hotspot"
					href="javascript:void(0)"
					aria-label="Device management"
					style="left: 17px; top: 280px; width: 210px; height: 39px;"
				></a>
				<a
					class="hotspot"
					href="javascript:void(0)"
					aria-label="System logs"
					style="left: 17px; top: 330px; width: 210px; height: 39px;"
				></a>

												<!-- Bottom left actions -->
				<a
					class="hotspot"
					href="javascript:void(0)"
					aria-label="Settings"
					style="left: 17px; top: 769px; width: 210px; height: 36px;"
				></a>
				<a
					class="hotspot"
					href="../common/uc01_login_mobile.html"
					aria-label="Log out"
					style="left: 17px; top: 819px; width: 210px; height: 36px;"
				></a>

								<!-- Header filter tabs -->
				<a
					class="hotspot"
					href="./uc5_qltb_all.html"
					aria-label="Filter: all"
					style="left: 220px; top: 100px; width: 70px; height: 40px;"
				></a>
				<a
					class="hotspot"
					href="./uc5_qltb_cam_bien.html"
					aria-label="Filter: sensors"
					style="left: 310px; top: 100px; width: 70px; height: 40px;"
				></a>
				<a
					class="hotspot"
					href="./uc5_qltb_bang_hieu.html"
					aria-label="Filter: signage"
					style="left: 397px; top: 100px; width: 70px; height: 40px;"
				></a>
				<a
					class="hotspot"
					href="./uc5_qltb_gateway.html"
					aria-label="Filter: gateway"
					style="left: 490px; top: 100px; width: 70px; height: 40px;"
				></a>
				<a
					class="hotspot"
					href="./uc5_qltb_barrier.html"
					aria-label="Filter: barrier"
					style="left: 570px; top: 100px; width: 70px; height: 40px;"
				></a>
			</section>
		</main>
	</body>
</html>
