.hotspot {
    position: absolute;
    cursor: pointer;
    background: transparent;
    z-index: 10;
    pointer-events: auto;
}

.hotspot.dev {
    outline: 2px dashed rgba(255, 0, 0, 0.6);
    cursor: pointer;
    background: transparent;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}