<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .fade-in { animation: fadeIn 0.3s ease-in-out; }
        @keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
        
        .phone-wrapper {
            position: relative;
            height: 100vh;
            background: #1a1a1a;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .content-area {
            position: relative;
            height: 100%;
            aspect-ratio: 390 / 844;
            background: #fff;
            overflow: hidden;
        }

        .bg-img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        /* Hotspot để soi vị trí - Chỉnh 0.3 thành 0 để làm trong suốt nút bấm */
        /* .hotspot {
            position: absolute;
            background: rgba(255, 0, 0, 0.3); 
            border: 1px solid yellow;
            cursor: pointer;
            z-index: 50;
        } */
        /* Đổi background và xóa border để các nút tàng hình 100% */
        .hotspot {
            position: absolute;
            background: transparent; /* Đổi màu đỏ thành trong suốt */
            /* border: 1px solid yellow;  Xóa hoặc comment dòng viền vàng này lại */
            cursor: pointer;
            z-index: 50;
        }

        input.hotspot {
            background: transparent;
            border: none;
            outline: none;
        }

        /* CSS thần thánh: Ẩn thanh cuộn nhưng vẫn cho phép vuốt/cuộn */
        .custom-scrollbar::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }
        .custom-scrollbar {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    </style>
</head>
<body class="m-0 p-0 overflow-hidden">

    <div class="phone-wrapper">
        <div class="content-area">

            <div id="step-1" class="absolute inset-0 z-10 fade-in">
                <img src="../../assets/images/uc01_gateway.png" class="bg-img">
                <div onclick="toStep2()" class="hotspot" style="top: 61.5%; left: 8%; width: 84%; height: 6.5%;"></div>
                <div onclick="VisitorWaiting()" class="hotspot" style="top: 71.5%; left: 8%; width: 84%; height: 6.5%;"></div>
            </div>
            
            <div id="waiting" class="hidden absolute inset-0 z-10 fade-in">
                <img src="../../assets/images/uc04_waiting.png" class="bg-img">
            </div>

            <div id="ticketrelease" class="hidden absolute inset-0 z-20 fade-in">
                <img src="../../assets/images/uc04__ticketrelease.png" class="bg-img">
            </div>

            <!-- <div id="mobileticket" class="hidden absolute inset-0 z-30 fade-in">
                <img src="../../assets/images/uc04_mobileticket.png" class="bg-img">
                
                <div onclick="closeTicket()" class="hotspot" style="top: 5%; left: 6%; width: 4%; height: 2%;"></div>

                <div onclick="showMap()" class="hotspot" style="top: 84%; left: 10%; width: 80%; height: 6.5%;"></div>
            </div> -->
            <div id="mobileticket" class="hidden absolute inset-0 z-30 fade-in">
                <img src="../../assets/images/uc04_mobileticket.png" class="bg-img">
                <div onclick="closeTicket()" class="hotspot" style="top: 5%; left: 6%; width: 4%; height: 2%;"></div>
                
                <div onclick="showMap('ticket')" class="hotspot" style="top: 84%; left: 10%; width: 80%; height: 6.5%;"></div>
            </div>

            <div id="mobilemap" class="hidden absolute inset-0 z-40 fade-in">
                <img src="../../assets/images/uc06_MobileUI-Active.png" class="bg-img">
                
                <div onclick="hideMap()" class="hotspot" style="top: 4%; left: 4%; width: 12%; height: 6%;"></div>
            </div>

            <div id="mobilemap" class="hidden absolute inset-0 z-40 fade-in">
                <img src="../../assets/images/uc06_MobileUI-Active.png" class="bg-img">
                
                <div onclick="backToTicket()" class="hotspot" style="top: 4%; left: 4%; width: 12%; height: 6%;"></div>
            </div>

            <div id="step-2" class="hidden absolute inset-0 z-20 fade-in">
                <img src="../../assets/images/uc01_login_normal.png" class="bg-img">
                
                <input type="text" id="mssv" class="hotspot px-2" 
                    style="top: 25%; left: 13%; width: 74%; height: 3.5%;">
                
                <input type="password" id="pass" class="hotspot px-2" 
                    style="top: 33%; left: 13%; width: 74%; height: 3.5%;">
                
                <div onclick="handleAuth()" class="hotspot" 
                    style="top: 44%; left: 9.5%; width: 25%; height: 3.5%;"></div>
                
                <div onclick="document.getElementById('mssv').value='';document.getElementById('pass').value='';" 
                    class="hotspot" style="top: 44%; left: 36%; width: 11.5%; height: 3.5%;"></div>
                
                <div onclick="goToStart()" class="hotspot" 
                    style="top: 44%; left: 52%; width: 15%; height: 3.5%;"></div>
            </div>

            <div id="step-2-error" class="hidden absolute inset-0 z-30 fade-in">
                <img src="../../assets/images/uc01_login_error.png" class="bg-img">
                
                <input type="text" id="mssv-retry" class="hotspot px-2" 
                    style="top: 24.2%; left: 13%; width: 74%; height: 3.5%;">
                
                <input type="password" id="pass-retry" class="hotspot px-2" 
                    style="top: 31.5%; left: 13%; width: 74%; height: 3.5%;">
                
                <div onclick="handleAuth(true)" class="hotspot" 
                    style="top: 44.8%; left: 13%; width: 22%; height: 3.5%;"></div>
                
                <div onclick="goToStart()" class="hotspot" 
                    style="top: 44.8%; left: 51%; width: 14%; height: 3.5%;"></div>
            </div>

            <div id="step-3" class="hidden absolute inset-0 z-40 fade-in overflow-y-auto custom-scrollbar">
                <div class="relative w-full">
                    <img id="dashboard-img" src="../../assets/images/uc02_dashboard.png" class="w-full h-auto block">
                    
                    <div id="btn-topup" onclick="window.location.href='../learner/uc07_mobile_payment.html'" 
                         class="hotspot" style="top: 23%; left: 14%; width: 34%; height: 3.5%;"></div>

                    <div id="btn-map" onclick="showMap('dashboard')" 
                         class="hotspot" style="top: 92.5%; left: 35%; width: 14%; height: 5%;"></div>
                    
                    <div id="btn-logout" onclick="goToStart()" 
                         class="hotspot" style="top: 92.5%; left: 78%; width: 14%; height: 5%;"></div>
                </div>
            </div>

        </div> 
    </div> 
    
    <!-- <script>
        function toStep2() {
            document.getElementById('step-1').classList.add('hidden');
            document.getElementById('step-2').classList.remove('hidden');
        }

        function VisitorWaiting() {
            document.getElementById('step-1').classList.add('hidden');
            document.getElementById('waiting').classList.remove('hidden');

            setTimeout(() => {
                document.getElementById('waiting').classList.add('hidden');
                document.getElementById('ticketrelease').classList.remove('hidden');

                setTimeout(() => {
                    document.getElementById('ticketrelease').classList.add('hidden');
                    document.getElementById('mobileticket').classList.remove('hidden');
                }, 1000);

            }, 1000);
        }

        function goToStart() {
            // Gửi lệnh thu nhỏ vỏ Simulator về màn hình điện thoại phòng trường hợp đang ở màn Admin
            window.parent.postMessage("switch-to-mobile", "*");

            document.getElementById('step-2').classList.add('hidden');
            document.getElementById('step-2-error').classList.add('hidden');
            document.getElementById('step-3').classList.add('hidden');
            document.getElementById('step-1').classList.remove('hidden');

            document.getElementById('waiting').classList.add('hidden');
            document.getElementById('ticketrelease').classList.add('hidden');
            document.getElementById('mobileticket').classList.add('hidden');
            
            document.getElementById('step-1').classList.remove('hidden');

            document.getElementById('waiting').classList.add('hidden');
            document.getElementById('ticketrelease').classList.add('hidden');
            document.getElementById('mobileticket').classList.add('hidden');
            
            // Thêm dòng này để giấu bản đồ đi
            document.getElementById('mobilemap').classList.add('hidden');
        }

        function handleAuth(isRetry = false) {
            const u = isRetry ? document.getElementById('mssv-retry').value : document.getElementById('mssv').value;
            const p = isRetry ? document.getElementById('pass-retry').value : document.getElementById('pass').value;

            if (u === "2011234" && p === "123") {
                // TÀI KHOẢN LEARNER: Hiện Dashboard của sinh viên
                document.getElementById('step-2').classList.add('hidden');
                document.getElementById('step-2-error').classList.add('hidden');
                document.getElementById('step-3').classList.remove('hidden');
                
                // Đảm bảo tải đúng ảnh Learner và bật lại các nút bấm
                document.getElementById('dashboard-img').src = "../../assets/images/uc02_dashboard.png";
                document.getElementById('btn-topup').style.display = "block";
                document.getElementById('btn-logout').style.display = "block";

            } else if (u === "admin" && p === "admin") {
                // TÀI KHOẢN ADMIN: Gửi tín hiệu phóng to khung và chuyển hướng sang file thật
                window.parent.postMessage("switch-to-macbook", "*");
                window.location.href = '../admin/dashboard.html';
                
            } else {
                // SAI TÀI KHOẢN: Hiện màn hình báo lỗi
                document.getElementById('step-2').classList.add('hidden');
                document.getElementById('step-2-error').classList.remove('hidden');
                document.getElementById('mssv-retry').value = u;
                document.getElementById('pass-retry').value = p;
            }
        }

        function showMap() {
            document.getElementById('mobileticket').classList.add('hidden');
            document.getElementById('mobilemap').classList.remove('hidden');
        }

        function backToTicket() {
            document.getElementById('mobilemap').classList.add('hidden');
            document.getElementById('mobileticket').classList.remove('hidden');
        }
// ======== LẮNG NGHE SỰ KIỆN XE VÀO TỪ KIOSK BẢO VỆ ========
        window.addEventListener('storage', function(e) {
            if (e.key === 'gate_event' && e.newValue.includes('vehicle_in')) {
                const step3 = document.getElementById('step-3');
                const isDashboard = !step3.classList.contains('hidden');
                
                if (e.key === 'visitor_event' && e.newValue.includes('payment_success')) {
                // 1. Hiện thông báo chúc mừng
                alert("🔔 Hệ thống: Thanh toán thành công! Vé điện tử của bạn đã được đóng. Chào tạm biệt!");
                
                // 2. Gọi hàm "thần thánh" để xóa mọi màn hình tạm và về trang chủ
                goToStart(); 
                }

                // Nếu sinh viên đang ở màn hình Dashboard
                if (isDashboard) {
                    // 1. Ẩn Dashboard, hiện ngay màn hình Đang chờ (Waiting)
                    step3.classList.add('hidden');
                    document.getElementById('waiting').classList.remove('hidden');

                    // 2. Sau 1 giây, chuyển sang màn hình Đang xuất vé (Ticket Release)
                    setTimeout(() => {
                        document.getElementById('waiting').classList.add('hidden');
                        document.getElementById('ticketrelease').classList.remove('hidden');

                        // 3. Sau 1 giây nữa, hiện màn hình Vé điện tử (Mobile Ticket)
                        setTimeout(() => {
                            document.getElementById('ticketrelease').classList.add('hidden');
                            document.getElementById('mobileticket').classList.remove('hidden');
                        }, 1000);
                    }, 1000);
                }
            }
        }
    );
    </script> -->
    <script>
        // Thêm cờ để biết ai đang dùng app
        let isLearner = false;

        function toStep2() {
            document.getElementById('step-1').classList.add('hidden');
            document.getElementById('step-2').classList.remove('hidden');
        }

        function VisitorWaiting() {
            document.getElementById('step-1').classList.add('hidden');
            document.getElementById('waiting').classList.remove('hidden');

            setTimeout(() => {
                document.getElementById('waiting').classList.add('hidden');
                document.getElementById('ticketrelease').classList.remove('hidden');

                setTimeout(() => {
                    document.getElementById('ticketrelease').classList.add('hidden');
                    document.getElementById('mobileticket').classList.remove('hidden');
                }, 1000);

            }, 1000);
        }

        // Đăng xuất và về trang chủ
        function goToStart() {
            isLearner = false; // Reset cờ
            window.parent.postMessage("switch-to-mobile", "*");

            document.getElementById('step-2').classList.add('hidden');
            document.getElementById('step-2-error').classList.add('hidden');
            document.getElementById('step-3').classList.add('hidden');
            document.getElementById('waiting').classList.add('hidden');
            document.getElementById('ticketrelease').classList.add('hidden');
            document.getElementById('mobileticket').classList.add('hidden');
            if (document.getElementById('mobilemap')) {
                document.getElementById('mobilemap').classList.add('hidden');
            }

            document.getElementById('step-1').classList.remove('hidden');
        }

        // function handleAuth(isRetry = false) {
        //     const u = isRetry ? document.getElementById('mssv-retry').value : document.getElementById('mssv').value;
        //     const p = isRetry ? document.getElementById('pass-retry').value : document.getElementById('pass').value;

        //     if (u === "2011234" && p === "123") {
        //         isLearner = true; // Đánh dấu là sinh viên đang đăng nhập
        //         document.getElementById('step-2').classList.add('hidden');
        //         document.getElementById('step-2-error').classList.add('hidden');
        //         document.getElementById('step-3').classList.remove('hidden');
                
        //         document.getElementById('dashboard-img').src = "../../assets/images/uc02_dashboard.png";
        //         document.getElementById('btn-topup').style.display = "block";
        //         document.getElementById('btn-logout').style.display = "block";

        //     } else if (u === "admin" && p === "admin") {
        //         window.parent.postMessage("switch-to-macbook", "*");
        //         window.location.href = '../admin/dashboard.html';
                
        //     } else {
        //         document.getElementById('step-2').classList.add('hidden');
        //         document.getElementById('step-2-error').classList.remove('hidden');
        //         document.getElementById('mssv-retry').value = u;
        //         document.getElementById('pass-retry').value = p;
        //     }
        // }

        function handleAuth(isRetry = false) {
            const u = isRetry ? document.getElementById('mssv-retry').value : document.getElementById('mssv').value;
            const p = isRetry ? document.getElementById('pass-retry').value : document.getElementById('pass').value;

            if (u === "2011234" && p === "123") {
                isLearner = true; 
                
                // === THÊM DÒNG NÀY ĐỂ ẨN MÀN HÌNH GATEWAY ===
                document.getElementById('step-1').classList.add('hidden'); 
                
                document.getElementById('step-2').classList.add('hidden');
                document.getElementById('step-2-error').classList.add('hidden');
                document.getElementById('step-3').classList.remove('hidden');
                
                document.getElementById('dashboard-img').src = "../../assets/images/uc02_dashboard.png";
                document.getElementById('btn-topup').style.display = "block";
                document.getElementById('btn-logout').style.display = "block";

            } else if (u === "admin" && p === "admin") {
                window.parent.postMessage("switch-to-macbook", "*");
                window.location.href = '../admin/dashboard.html';
                
            } else {
                document.getElementById('step-1').classList.add('hidden'); // Ẩn luôn cho chắc
                document.getElementById('step-2').classList.add('hidden');
                document.getElementById('step-2-error').classList.remove('hidden');
                document.getElementById('mssv-retry').value = u;
                document.getElementById('pass-retry').value = p;
            }
        }

        // function showMap() {
        //     document.getElementById('mobileticket').classList.add('hidden');
        //     document.getElementById('mobilemap').classList.remove('hidden');
        // }

        // function backToTicket() {
        //     document.getElementById('mobilemap').classList.add('hidden');
        //     document.getElementById('mobileticket').classList.remove('hidden');
        // }

        // Biến để nhớ xem user mở bản đồ từ đâu
        let mapSource = ''; 

        function showMap(source) {
            mapSource = source; // Lưu lại nguồn (là 'ticket' hay 'dashboard')
            
            // Ẩn màn hình tương ứng
            if (source === 'ticket') {
                document.getElementById('mobileticket').classList.add('hidden');
            } else if (source === 'dashboard') {
                document.getElementById('step-3').classList.add('hidden');
            }
            
            // Hiện bản đồ
            document.getElementById('mobilemap').classList.remove('hidden');
        }

        function hideMap() {
            // Ẩn bản đồ
            document.getElementById('mobilemap').classList.add('hidden');
            
            // Trả về đúng màn hình trước đó
            if (mapSource === 'ticket') {
                document.getElementById('mobileticket').classList.remove('hidden');
            } else if (mapSource === 'dashboard') {
                document.getElementById('step-3').classList.remove('hidden');
            }
        }

        // HÀM MỚI: Đóng vé nhưng KHÔNG đăng xuất
        function closeTicket() {
            document.getElementById('mobileticket').classList.add('hidden');
            if (document.getElementById('mobilemap')) {
                document.getElementById('mobilemap').classList.add('hidden');
            }

            if (isLearner) {
                // Nếu là Sinh viên -> Trả về Dashboard để còn bấm Top Up
                document.getElementById('step-3').classList.remove('hidden');
            } else {
                // Nếu là Khách -> Về màn hình Gateway gốc
                document.getElementById('step-1').classList.remove('hidden');
            }
        }

        // ======== TAI NGHE: LẮNG NGHE SỰ KIỆN TỪ KIOSK ========
        window.addEventListener('storage', function(e) {
            
            // 1. LUỒNG KHÁCH: THANH TOÁN XONG
            if (e.key === 'visitor_event' && e.newValue.includes('payment_success')) {
                alert("🔔 Hệ thống: Thanh toán thành công! Vé điện tử của bạn đã được đóng. Chào tạm biệt!");
                goToStart(); 
                return; 
            }

            // 2. LUỒNG SINH VIÊN: VÀO CỔNG 
            if (e.key === 'gate_event' && e.newValue.includes('vehicle_in')) {
                const step3 = document.getElementById('step-3');
                const isDashboard = !step3.classList.contains('hidden');
                
                if (isDashboard) {
                    step3.classList.add('hidden');
                    document.getElementById('waiting').classList.remove('hidden');

                    setTimeout(() => {
                        document.getElementById('waiting').classList.add('hidden');
                        document.getElementById('ticketrelease').classList.remove('hidden');

                        setTimeout(() => {
                            document.getElementById('ticketrelease').classList.add('hidden');
                            document.getElementById('mobileticket').classList.remove('hidden');
                        }, 1000);
                    }, 1000);
                }
            }
        });
        // ======== TỰ ĐỘNG ĐĂNG NHẬP LẠI KHI TỪ TRANG THANH TOÁN QUAY VỀ ========
        window.addEventListener('DOMContentLoaded', (event) => {
            // Đọc thanh địa chỉ URL xem có chữ return=true không
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.get('return') === 'true') {
                
                // Tự động điền MSSV và Pass vào rồi gọi hàm Đăng nhập
                document.getElementById('mssv').value = '2011234';
                document.getElementById('pass').value = '123';
                handleAuth();
                
                // Kiểm tra xem thanh toán Thành công hay Hủy để báo cho sinh viên
                if (urlParams.get('success') === 'true') {
                    setTimeout(() => alert("🔔 App Sinh viên: Thanh toán thành công! Bạn có thể quét thẻ ra cổng."), 300);
                } else {
                    setTimeout(() => alert("⚠️ App Sinh viên: Giao dịch thất bại hoặc đã bị hủy!"), 300);
                }
                // === THÊM DÒNG NÀY ĐỂ DỌN DẸP URL ===
                window.history.replaceState({}, document.title, window.location.pathname);
            }
        });
    </script>
</body>
</html>