<!doctype html>
<html lang="vi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>UC03-Idle-Exit</title>
        <link rel="stylesheet" href="../../assets/css/style.css" />
    </head>
    <body>
        <div class="prototype-screen" aria-label="Gate Screen">
            <img class="prototype-bg" src="../../assets/images/uc03_idle_exit.png" alt="Gate" />

            <div class="prototype-safe">
                <div class="hotspot dev" data-action="scan-card" style="
                    top: 440px;
                    left: 450px;
                    width: 700px;
                    height: 380px;">
                </div>

                <div class="hotspot dev" data-action="scan-ticket" style="
                    top: 918px;
                    left: 585px;
                    width: 385px;
                    height: 97px;">
                </div>
            </div>
        </div>

        <script src="../../js/gate.js"></script>
    </body>
</html>