<!doctype html>
<html lang="vi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>UC03-04 Gate</title>
        <link rel="stylesheet" href="../../assets/css/style.css" />
    </head>
    <body>
        <div class="prototype-screen" aria-label="Gate Screen">
            <img class="prototype-bg" src="../../assets/images/uc03_04_gate.png" alt="Gate" />

            <div class="prototype-safe">
                <div class="hotspot dev" data-action="enter" style="
                    top: 483px;
                    left: 427px;
                    width: 728px;
                    height: 100px;">
                </div>
                <div class="hotspot dev" data-action="exit" style="
                    top: 615px;
                    left: 427px;
                    width: 728px;
                    height: 100px;">
                </div>
            </div>
        </div>

        <script src="../../js/gate.js"></script>
    </body>
</html>