<!doctype html>
<html lang="vi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>UC03 Idle Enter</title>
        <link rel="stylesheet" href="../../assets/css/style.css" />
    </head>
    <body>
        <div class="prototype-screen" aria-label="Idle Enter Screen">
            <img class="prototype-bg" src="../../assets/images/U03_Idle_Enter.png" alt="Idle Enter" />

            <div class="prototype-safe">
                <div class="hotspot dev" data-action="scan-card" style="
                    top: 596px;
                    left: 373px;
                    width: 290px;
                    height: 71px;">
                </div>
                <div class="hotspot dev" data-action="scan-card" style="
                    top: 238px;
                    left: 342px;
                    width: 350px;
                    height: 250px;">
                </div>
            </div>
        </div>

        <script src="../../js/gate.js"></script>

    </body>
</html>